{% if object.active %}

    <th>Holat</th>
    <td>
        <button
                class="btn btn-outline-success" hx-get="{% url 'quiz:quiz_active_or_deactive' object.id %}"
                hx-swap="innerHTML"
                hx-target="#active-{{ object.id }}">active
        </button>
    </td>



{% else %}

    <th>Holat</th>
    <td>
        <button
                class="btn btn-outline-danger" hx-get="{% url 'quiz:quiz_active_or_deactive' object.id %}"
                hx-swap="innerHTML"
                hx-target="#active-{{ object.id }}">deactive
        </button>
    </td>
{% endif %}

