{% extends 'dashboard/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
    <section class="section dashboard">
        <div class="row">

            <div class="col-lg-12">
                <div class="row">

                    <!-- tugalanmagan testlar soni -->
                    <div class="col-xxl-3 col-md-6">
                        <div class="card info-card sales-card">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Филтр</h6>
                                    </li>
                                    <li><a data-action="next_today" class="dropdown-item next-item-quiz" href="#">Шу
                                        кун</a></li>
                                    <li><a data-action="next_month" class="dropdown-item next-item-quiz" href="#">Шу
                                        ой</a>
                                    </li>
                                    <li><a data-action="next_year" class="dropdown-item next-item-quiz" href="#">Шу
                                        йил</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Тестлар <span class='attribute'><cite
                                        title="Тугалланмаган тестлар">|Тугалланмаган </cite>  </span>
                                </h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-spellcheck"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6 id="start__count_quiz"></h6>
                                        {% comment %}
                                        <span class="text-success small pt-1 fw-bold">12%</span> <span
                                            class="text-muted small pt-2 ps-1">increase</span>
                                        {% endcomment %}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End tugalanmagan testlar soni -->

                    <!-- tugalangan testlar soni -->
                    <div class="col-xxl-3 col-md-6">
                        <div class="card info-card sales-card">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Филтр</h6>
                                    </li>
                                    <li><a data-action="prev-month" class="dropdown-item prev-item-quiz" href="#">Шу
                                        ой</a>
                                    </li>
                                    <li><a data-action="prev-year" class="dropdown-item prev-item-quiz" href="#">Шу
                                        йил</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Тестлар <span><cite
                                        title="Тугалланган тестлар">|Тугалланган </cite></span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-spellcheck"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6 id="end__count_quiz"></h6>
                                        {% comment %}
                                        <span class="text-success small pt-1 fw-bold">12%</span> <span
                                            class="text-muted small pt-2 ps-1">increase</span>
                                        {% endcomment %}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!--  tugalangan testlar -->

                    <!-- umumiy testlar soni -->
                    <div class="col-xxl-3 col-md-6">
                        <div class="card info-card revenue-card">
                            {% comment %}
                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Филтр</h6>
                                    </li>

                                    <li><a data-action="today" class="dropdown-item item-result" href="#">Шу кун</a>
                                    </li>
                                    <li><a data-action="month" class="dropdown-item item-result" href="#">Шу ой</a>
                                        </a>
                                    </li>
                                    <li><a data-action="year" class="dropdown-item item-result" href="#">Шу йил</a></a>
                                    </li>
                                </ul>
                            </div>

                            {% endcomment %}

                            <div class="card-body">
                                <h5 class="card-title">Тест <span><cite title="Тугалланган ва Тугалланмаган тестлар">|Натижалари(умумий) </cite></span>
                                </h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-percent"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6 id="count_result"></h6>
                                        {% comment %}
                                        <span class="text-success small pt-1 fw-bold">8%</span> <span
                                            class="text-muted small pt-2 ps-1">increase</span>
                                        {% endcomment %}


                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End umumiy testlar soni -->

                    <!-- Test natijalari ortachasi -->
                    <div class="col-xxl-3 col-xl-12">

                        <div class="card info-card customers-card">
                            <div class="card-body">
                                <h5 class="card-title">Ходимлар <span><cite title="Тугалланган ва Тугалланмаган тестлар">|Умумий </cite></span>
                                </h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-people"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6 id="employers_count"></h6>
                                        {% comment %}
                                         <span class="text-danger small pt-1 fw-bold">12%</span> <span
                                            class="text-muted small pt-2 ps-1">decrease</span>
                                        {% endcomment %}


                                    </div>
                                </div>

                            </div>
                        </div>

                    </div><!-- End Test natijalari ortachasi -->

                    <div class="row" id="organization_results">


                    </div>

                </div>
            </div>
            {#            <div class="col-lg-12">#}
            {#                <div width="100%" class="auto-jsCalendar  material-theme green" data-language="ru"></div>#}
            {#            </div>#}

        </div>
    </section>
{% endblock %}

{% block include_js %}
    <!-- jsCalendar v1.4.4 Javascript and CSS from unpkg cdn -->
    <script src="https://unpkg.com/simple-jscalendar@1.4.4/source/jsCalendar.min.js"
            integrity="sha384-0LaRLH/U5g8eCAwewLGQRyC/O+g0kXh8P+5pWpzijxwYczD3nKETIqUyhuA8B/UB"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/simple-jscalendar@1.4.4/source/jsCalendar.min.css"
          integrity="sha384-44GnAqZy9yUojzFPjdcUpP822DGm1ebORKY8pe6TkHuqJ038FANyfBYBpRvw8O9w" crossorigin="anonymous">

    <script>
        const url = '{% url 'quiz:api_dashboard_info' %}'
    </script>
    <script src="{% static 'assets/js/manage_dashboard.js' %}"></script>


    {#    <script>#}
    {#        document.addEventListener("DOMContentLoaded", () => {#}
    {#            new ApexCharts(document.querySelector("#donutChart"), {#}
    {#                series: [44, 55, 13, 43, 22],#}
    {#                chart: {#}
    {#                    height: 350,#}
    {#                    type: 'donut',#}
    {#                    toolbar: {#}
    {#                        show: true#}
    {#                    }#}
    {#                },#}
    {#                labels: ['Team A', 'Team B', 'Team C', 'Team D', 'Team E'],#}
    {#            }).render();#}
    {#        });#}
    {#    </script>#}
{% endblock %}