{% extends 'dashboard/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
    <section class="section dashboard">
        <div class="row">

            <div class="col-lg-12">
                <div class="row">

                    <!-- Sales Card -->
                    <div class="col-xxl-3 col-md-6">
                        <div class="card info-card sales-card">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a data-action="today" class="dropdown-item item-quiz" href="#">Today</a></li>
                                    <li><a data-action="month" class="dropdown-item item-quiz" href="#">This Month</a>
                                    </li>
                                    <li><a data-action="year" class="dropdown-item item-quiz" href="#">This Year</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Testlar <span>| Today</span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-spellcheck"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6 id="count_quiz"></h6>
                                        {% comment %}
                                        <span class="text-success small pt-1 fw-bold">12%</span> <span
                                            class="text-muted small pt-2 ps-1">increase</span>
                                        {% endcomment %}


                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Sales Card -->

                    <!-- Revenue Card -->
                    <div class="col-xxl-3 col-md-6">
                        <div class="card info-card revenue-card">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a data-action="today" class="dropdown-item item-result" href="#">Today</a></li>
                                    <li><a data-action="month" class="dropdown-item item-result" href="#">This Month</a>
                                    </li>
                                    <li><a data-action="year" class="dropdown-item item-result" href="#">This Year</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Result Test<span>| This Month</span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-percent"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6 id="count_result"></h6>
                                        {% comment %}
                                        <span class="text-success small pt-1 fw-bold">8%</span> <span
                                            class="text-muted small pt-2 ps-1">increase</span>
                                        {% endcomment %}


                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Revenue Card -->

                    <!-- Customers Card -->
                    <div class="col-xxl-3 col-xl-12">

                        <div class="card info-card customers-card">
                            {% comment %}
                             <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item" href="#">Lorem ipsum dolor sit amet.</a></li>
                                    <li><a class="dropdown-item" href="#">Lorem ipsum dolor sit amet.</a></li>
                                    <li><a class="dropdown-item" href="#">Lorem ipsum dolor sit amet.</a></li>
                                    <li><a class="dropdown-item" href="#">Lorem ipsum dolor sit amet.</a></li>
                                    <li><a class="dropdown-item" href="#">Lorem ipsum dolor sit amet.</a></li>
                                    <li><a class="dropdown-item" href="#">lorem10</a></li>
                                    <li><a class="dropdown-item" href="#">This Month</a></li>
                                    <li><a class="dropdown-item" href="#">This Year</a></li>
                                </ul>
                            </div>
                            {% endcomment %}


                            <div class="card-body">
                                <h5 class="card-title">Xodimlar</h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-people"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6 id="employers_count"></h6>
                                        {% comment %}
                                         <span class="text-danger small pt-1 fw-bold">12%</span> <span
                                            class="text-muted small pt-2 ps-1">decrease</span>
                                        {% endcomment %}


                                    </div>
                                </div>

                            </div>
                        </div>

                    </div><!-- End Customers Card -->
                    <!-- Customers Card -->
                    {#                    <div class="col-xxl-3 col-xl-12">#}
                    {##}
                    {#                        <div class="card info-card customers-card">#}
                    {#                            {% comment %}#}
                    {#                             <div class="filter">#}
                    {#                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>#}
                    {#                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">#}
                    {#                                    <li class="dropdown-header text-start">#}
                    {#                                        <h6>Filter</h6>#}
                    {#                                    </li>#}
                    {##}
                    {#                                    <li><a class="dropdown-item" href="#">Lorem ipsum dolor sit amet.</a></li>#}
                    {#                                    <li><a class="dropdown-item" href="#">Lorem ipsum dolor sit amet.</a></li>#}
                    {#                                    <li><a class="dropdown-item" href="#">Lorem ipsum dolor sit amet.</a></li>#}
                    {#                                    <li><a class="dropdown-item" href="#">Lorem ipsum dolor sit amet.</a></li>#}
                    {#                                    <li><a class="dropdown-item" href="#">Lorem ipsum dolor sit amet.</a></li>#}
                    {#                                    <li><a class="dropdown-item" href="#">lorem10</a></li>#}
                    {#                                    <li><a class="dropdown-item" href="#">This Month</a></li>#}
                    {#                                    <li><a class="dropdown-item" href="#">This Year</a></li>#}
                    {#                                </ul>#}
                    {#                            </div>#}
                    {#                            {% endcomment %}#}
                    {##}
                    {##}
                    {#                            <div class="card-body">#}
                    {#                                <h5 class="card-title">Xodimlar</h5>#}
                    {##}
                    {#                                <div class="d-flex align-items-center">#}
                    {#                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">#}
                    {#                                        <i class="bi bi-people"></i>#}
                    {#                                    </div>#}
                    {#                                    <div class="ps-3">#}
                    {#                                        <h6 id="employers_count"></h6>#}
                    {#                                        {% comment %}#}
                    {#                                         <span class="text-danger small pt-1 fw-bold">12%</span> <span#}
                    {#                                            class="text-muted small pt-2 ps-1">decrease</span>#}
                    {#                                        {% endcomment %}#}
                    {##}
                    {##}
                    {#                                    </div>#}
                    {#                                </div>#}
                    {##}
                    {#                            </div>#}
                    {#                        </div>#}
                    {##}
                    {#                    </div><!-- End Customers Card -->#}
                    {#                    #}

                    <div class="row" id="organization_results">

                    </div>

                </div>
            </div>
{#            <div class="col-lg-12">#}
{#                <div width="100%" class="auto-jsCalendar  material-theme green" data-language="ru"></div>#}
{#            </div>#}

        </div>
    </section>
{% endblock %}

{% block include_js %}
    <!-- jsCalendar v1.4.4 Javascript and CSS from unpkg cdn -->
    <script src="https://unpkg.com/simple-jscalendar@1.4.4/source/jsCalendar.min.js"
            integrity="sha384-0LaRLH/U5g8eCAwewLGQRyC/O+g0kXh8P+5pWpzijxwYczD3nKETIqUyhuA8B/UB"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/simple-jscalendar@1.4.4/source/jsCalendar.min.css"
          integrity="sha384-44GnAqZy9yUojzFPjdcUpP822DGm1ebORKY8pe6TkHuqJ038FANyfBYBpRvw8O9w" crossorigin="anonymous">

    <script>
        const url = '{% url 'quiz:api_dashboard_info' %}'
        let quiz_count = document.getElementById('count_quiz')
        let result_count = document.getElementById('count_result')
        let employers_count = document.getElementById('employers_count')
        let list_quiz_action = document.querySelectorAll('.item-quiz')
        let list_result_action = document.querySelectorAll('.item-result');
        let org = document.getElementById('organization_results')

        var options = {
            method: 'GET',
            mode: 'same-origin',
            headers: {
                "Content-Type": "application/json",
            }
        }

        fetch(url, options)
            .then(response => response.json())
            .then(data => {
                var day = data.test.day
                var month = data.test.month
                var year = data.test.year
                var cnt = 0

                for (const [key, value] of Object.entries(data.data_res)) {
                    cnt++
                    var arr_org = []
                    var arr_score = []
                    var card = `
                            <div class="col-lg-4">
                                <div class='card'>
                                    <div class="card-body">
                                        <h5 class="card-title">${key}</h5>
                                         <canvas id='org-${cnt}' style="max-height: 400px;" ><canvas>
                                    </div>
                                </div>
                            </div>
                    `
                    org.insertAdjacentHTML('afterbegin', card)
                    Object.entries(value).forEach(el => {
                        arr_org.push(el[0])
                        arr_score.push(el[1].reduce((a, b) => a + b, 0) / el[1].length)
                    })
                    {#for (const [key, value1] of Object.entries(value)) {#}
                    {#    console.log(value1.reduce((a, b) => a + b, 0) / value1.length);}#}
                    {#console.log(Object.entries(value)[0][1])#}

                    new Chart(document.querySelector(`#org-${cnt}`), {
                        type: 'doughnut',
                        data: {
                            labels: arr_org,
                            datasets: [{
                                label: 'My first dataset',
                                data: arr_score,
                                backgroundColor: [
                                    'rgb(255, 99, 132)',
                                    'rgb(54, 162, 235)',
                                    'rgb(255, 205, 86)',
                                    'rgb(25, 205, 86)',
                                    'rgb(255, 25, 86)',
                                ],
                                hoverOffset: 4
                            }

                            ]
                        }
                    });


                }
                quiz_count.innerHTML = day
                result_count.innerHTML = data.result.day
                employers_count.innerHTML = data.users

                list_quiz_action.forEach(el => {
                    el.addEventListener('click', (event) => {
                        if (el.dataset.action == 'today') {
                            quiz_count.innerHTML = day
                        }
                        if (el.dataset.action == 'month') {
                            quiz_count.innerHTML = month
                        }
                        if (el.dataset.action == 'year') {
                            quiz_count.innerHTML = year
                        }
                    })
                });

                list_result_action.forEach(el => {
                    el.addEventListener('click', (event) => {
                        if (el.dataset.action == 'today') {
                            result_count.innerHTML = data.result.day
                        }
                        if (el.dataset.action == 'month') {
                            result_count.innerHTML = data.result.month
                        }
                        if (el.dataset.action == 'year') {
                            result_count.innerHTML = data.result.year
                        }
                    })
                })

            })
            .catch(error => {
                console.log('error')
            })

    </script>


    {#    <script>#}
    {#        document.addEventListener("DOMContentLoaded", () => {#}
    {#            new ApexCharts(document.querySelector("#donutChart"), {#}
    {#                series: [44, 55, 13, 43, 22],#}
    {#                chart: {#}
    {#                    height: 350,#}
    {#                    type: 'donut',#}
    {#                    toolbar: {#}
    {#                        show: true#}
    {#                    }#}
    {#                },#}
    {#                labels: ['Team A', 'Team B', 'Team C', 'Team D', 'Team E'],#}
    {#            }).render();#}
    {#        });#}
    {#    </script>#}
{% endblock %}