{% load crispy_forms_tags %}

<form action="" method="post" class="p-3 alert" role="alert">

    <div class="card-body">
        {% csrf_token %}
        {{ form|crispy }}
        {#            <button type="submit" class="btn btn-outline-primary float-end"> yaratish</button>#}
    </div>

    {% if object %}
        <div class="d-flex justify-content-end gap-2">
            <button class="btn btn-warning"
                    hx-post="{% url 'course:course_update' object.pk %}" hx-swap="innerHTML"
                    hx-target="#course-{{ object.id }}">update
            </button>

            <button class="btn btn-outline-dark" hx-get="{% url 'course:course_include_detail' object.pk %}"
                    hx-swap="innerHTML"
                    hx-target="#course-{{ object.id }}">orqaga
            </button>
        </div>
    {% else %}
        <div class="d-flex justify-content-end gap-2">
            <div>
                <input type="submit" value="yaratish" class="btn btn-success float-end">
            </div>


        </div>
    {% endif %}

    {#    {% if object %}#}
    {##}
    {#        <button>#}
    {##}
    {#        </button>#}
    {##}
    {#    {% else %}#}
    {#        <div>#}
    {#            <input type="submit" value="yaratish" class="btn btn-success float-end">#}
    {#        </div>#}
    {#    {% endif %}#}


</form>

