{% extends 'dashboard/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="pagetitle">
        <h1>Kurs Yaratish</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'quiz:dashboard' %}">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <div class="col-lg-8 card p-2">
        {% include 'course/dashboard/manage/course_form.html' %}
    </div>


{% endblock %}