<li data-question="{{ module.id }}"
    class="item__question d-flex justify-content-between">
    <div>
        <span class="me-2"><i class="bi bi-grip-horizontal"></i></span>
        {% if not module.parent %}
            <a class="fs-4 fw-bold">

                {#                <span></span>#}
                {{ module.title|truncatechars:35 }}</a>
        {% else %}
            <a href="{% url 'course:module_detail' module.id %}">

                {#                <span>{{ module.order|add:1 }}. </span>#}
                {{ module.title|truncatechars:35 }}</a>
        {% endif %}

    </div>

    <div class="filter">
        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <li>
                <a hx-get="{% url 'course:module_update' module.id %}" hx-target="#wrapper-form" hx-swap="innerHTML"
                   class="dropdown-item" href="#">
                    <button class="btn btn-primary"><i class="bi bi-pencil-square"></i>update</button>
                </a>
                <a hx-get="{% url 'course:module_delete'  module.id %}" hx-target="#wrapper-form" hx-swap="innerHTML"
                   class="dropdown-item" href="#">
                    <button class="btn btn-danger"><i class="bi bi-trash"></i>delete</button>
                </a>
            </li>
        </ul>
    </div>
</li> 