<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            <a href="{% url 'course:course_detail' object.slug %}">{{ object }}</a>
        </h5>

        <div class="responsive">
            <table class="table">

                <tr>
                    <th>darslar soni</th>
                    <td>{{ object.modules.all.count }}</td>
                </tr>

                <tr>
                    <th>yangilangan sanasi</th>
                    <td>{{ object.updated }}</td>
                </tr>


            </table>
        </div>
    </div>

    <div class="card-footer">
        <ul class="root">

            {#                        {{ object.category.get_family }}#}
            <nav>
                <ol class="breadcrumb">
                    {% for cat in object.subject.get_family %}
                        <li class="breadcrumb-item">{{ cat }}</li>
                    {% endfor %}
                </ol>
            </nav>

        </ul>

        {% comment %} <div class="d-flex justify-content-end gap-2">
            <button class="btn btn-warning" hx-get="{% url 'quiz:quiz_update' object.id %}" hx-swap="innerHTML"
                    hx-target="#quiz_detail-{{ object.id }}">update
            </button>

            <button class="btn btn-danger" hx-get="{% url 'quiz:quiz_delete' object.pk %}" hx-swap="innerHTML"
                    hx-target="#quiz_detail-{{ object.id }}">delete
            </button>
        </div> {% endcomment %}
    </div>
</div><!-- End Default Card -->
