{% extends 'user/base.html' %}
{% load static %}
{% load mptt_tags %}
{% load timesince %}

{% block style %}
    <link rel="stylesheet" href="{% static 'user/dash/css/style.css' %}">
{% endblock %}
{% block title %}
    Homepage
{% endblock %}

{% block content %}
    <div class="wrapper-dashboard bg-light">
        <div class="main-dashboard section dashboard">
            <div class="top__main-dashboard ">
                <div class="profile-group__main-dashboard rounded-3">
                    <img
                            class="rounded-circle border border-4"
                            src="{{ photo }}"
                            alt="profile"
                            width="130"
                            height="130"
                    />
                    {#                    <h5 class="title__profile-group fw-bold mb-0 mt-1">Ali Barin</h5>#}
                    {#                    <p class="text__profile-group text-secondary p-2"#}
                    {#                       style="text-align: center">{{ organization.name }}</p>#}
                    <p class="text__profile-group text-secondary p-2"
                       style="text-align: center">{{ fullname }}</p>
                    <p class="text__profile-group text-secondary p-2"
                       style="text-align: center">{{ staff_full }}</p>

                    {#                    <p class="text__profile-group text-secondary " style="text-align: center">{{ staff_full }}</p>#}
                </div>
                <div class="search-group__main-dashboard rounded-3">
                    <h3 class="text-light fw-bolder">{{ organization.name }}</h3>
                    <br>
                    <h4 class="text-light fw-bolder">{{ organization_name }}</h4>
                    <h4 class="text-light fw-bolder">{{ department }}</h4>


                    <div class="form-group search-content">
              <span class="google-icon__search-content">

              </span>
                        <input
                                type="text"
                                class="form-control bg-white bg-opacity-75 rounded-5"
                                placeholder="Поиск"
                        />
                        {#                        <div class="search-icon__search-content">#}
                        {#                            <img#}
                        {#                                    src="./assets/search-icon.png"#}
                        {#                                    alt="search icon"#}
                        {#                                    width="30"#}
                        {#                            />#}
                        {#                        </div>#}
                    </div>
                </div>
            </div>
            <div class="middle__main-dashboard">
                <h3 class="title-dashboard">Тест Бўлими</h3>
                <hr>
                <div class="content__middle-dashboard">
                    <div class="links-group__main-dashboard">
                        {% recursetree object_list %}
                            {% if not node.is_child_node %}
                                <a href="{% url 'quiz:quiz_cat' node.slug %}"
                                   class="link-card__main-dashboard rounded-3">
                                    {% if node.icon %}
                                        <img width="70" src="{{ node.icon.url }}" alt="icon"/>
                                    {% else %}
                                        <img width="70" src="{% static 'user/dash/img/antenna.png' %}" alt="icon"/>

                                    {% endif %}
                                    <p class="text-secondary">{{ node }}</p>
                                </a>
                            {% else %}
                                {% with node.quizs.first as quiz %}
                                    {% if quiz %}
                                        <a href="{% url 'quiz:user_quiz_detail' quiz.pk %}"
                                           class="link-card__main-dashboard rounded-3">
                                            {% if node.icon %}
                                                <img width="70" src="{{ node.icon.url }}" alt="icon"/>
                                            {% else %}
                                                <img width="70" src="{% static 'user/dash/img/antenna.png' %}"
                                                     alt="icon"/>

                                            {% endif %}
                                            <p class="text-secondary">{{ node }}</p>
                                        </a>
                                    {% else %}
                                        <div href="{% url 'quiz:quiz_cat' node.slug %}"
                                             class="link-card__main-dashboard rounded-3">
                                            {% if node.icon != '0' %}
                                                <img width="70" src="{{ node.icon.url }}" alt="icon"/>
                                            {% else %}
                                                <img width="70" src="{% static 'user/dash/img/antenna.png' %}"
                                                     alt="icon"/>
                                            {% endif %}
                                            <p class="text-secondary">{{ node }}</p>
                                        </div>
                                    {% endif %}
                                {% endwith %}
                            {% endif %}
                        {% endrecursetree %}
                        <a href="{% url 'quiz:quiz_home' %}"
                           class="link-card__main-dashboard rounded-3">

                            <img width="70" src="{% static 'user/dash/img/more.png' %}" alt="icon"/>

                            <p class="text-secondary">ещё</p>
                        </a>
                    </div>

                </div>
            </div>
            <div class="middle__main-dashboard">
                <h3 class="title-dashboard">Билим ошириш бўлими</h3>
                <hr>
                <div class="content__middle-dashboard">
                    <div class="links-group__main-dashboard">
                        {% recursetree object_list %}
                            {% if not node.is_child_node %}
                                <a href="{% url 'course:user_course_categories' node.slug %}"
                                   class="link-card__main-dashboard rounded-3">
                                    {% if node.icon %}
                                        <img width="70" src="{{ node.icon.url }}" alt="icon"/>
                                    {% else %}
                                        <img width="70" src="{% static 'user/dash/img/antenna.png' %}" alt="icon"/>

                                    {% endif %}
                                    <p class="text-secondary">{{ node }}</p>
                                </a>
                            {% else %}
                                {% with node.quizs.first as quiz %}
                                    {% if quiz %}
                                        <a href="{% url 'quiz:user_quiz_detail' quiz.pk %}"
                                           class="link-card__main-dashboard rounded-3">
                                            {% if node.icon != '0' %}
                                                <img width="70" src="{{ node.icon.url }}" alt="icon"/>
                                            {% else %}
                                                <img width="70" src="{% static 'user/dash/img/antenna.png' %}"
                                                     alt="icon"/>

                                            {% endif %}
                                            <p class="text-secondary">{{ node }}</p>
                                        </a>
                                    {% else %}
                                        <div href="{% url 'quiz:quiz_cat' node.slug %}"
                                             class="link-card__main-dashboard rounded-3">
                                            {% if node.icon is not None %}
                                                <img width="70" src="{{ node.icon.url }}" alt="icon"/>
                                            {% else %}
                                                <img width="70" src="{% static 'user/dash/img/antenna.png' %}"
                                                     alt="icon"/>
                                            {% endif %}
                                            <p class="text-secondary">{{ node }}</p>
                                        </div>
                                    {% endif %}
                                {% endwith %}
                            {% endif %}
                        {% endrecursetree %}
                        <a href="{% url 'course:user_course_list' %}"
                           class="link-card__main-dashboard rounded-3">

                            <img width="70" src="{% static 'user/dash/img/more.png' %}" alt="icon"/>

                            <p class="text-secondary">ещё</p>
                        </a>
                    </div>

                </div>
            </div>
            {% if results %}
                <div class="bottom__main-dashboard section dashboard">
                    {#                    <h3 class="title-dashboard">Natijalar</h3>#}

                    <!-- Recent Sales -->
                    <div class="col-12">
                        <div class="card recent-sales overflow-auto">
                            <div class="card-body">
                                <h5 class="card-title">Натижалар</h5>

                                <table class="table table-borderless datatable">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Йуналиш</th>
                                        <th scope="col">Сана</th>
                                        <th scope="col">Натижа</th>
                                        <th scope="col">Статус</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for result in results %}
                                        <tr>
                                            <th scope="row"><a href="#">{{ forloop.counter }}</a></th>
                                            <td>{{ result.quiz.category.parent }}</td>
                                            <td><a href="#" class="text-primary">{{ result.update_date }}</a></td>

                                            <td>{{ result.score }}</td>
                                            {% with result.quiz.score_to_pass as score_to_pass %}
                                                {% if result.score >= score_to_pass %}
                                                    <td><span class="badge bg-success fs-7">  success</span></td>
                                                {% else %}
                                                    <td><span class="badge bg-danger">fail </span></td>
                                                {% endif %}
                                            {% endwith %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div><!-- End Recent Sales -->

                    {#                    <div class="table-responsive">#}
                    {#                        <table class="table align-middle mb-0 bg-none borderless">#}
                    {#                            <thead class="bg-light">#}
                    {#                            <tr>#}
                    {#                                <th>Yo'nalish</th>#}
                    {#                                <th>Sana</th>#}
                    {#                                <th>Natija</th>#}
                    {#                                <th>Urunishlar soni</th>#}
                    {#                                <th>Status</th>#}
                    {#                            </tr>#}
                    {#                            </thead>#}
                    {#                            <tbody>#}
                    {#                            {% for result in results %}#}
                    {#                                <tr#}
                    {#                                        style="#}
                    {#                                    box-shadow: rgba(100, 100, 111, 0.2) 2px 3px 5px 0px;#}
                    {#                                    background: white;#}
                    {#                                "#}
                    {#                                >#}
                    {#                                    <td>#}
                    {#                                        <p class="fw-bold">#}
                    {#                                            <a href="#">{{ result.quiz.category.parent }}</a></p>#}
                    {#                                    </td>#}
                    {#                                    <td>#}
                    {#                                        <p class="fw-bold">{{ result.date }}</p>#}
                    {#                                    </td>#}
                    {#                                    <td>#}
                    {#                                        <p class="fw-bold">{{ result.score|floatformat:0 }}%</p>#}
                    {##}
                    {#                                    </td>#}
                    {#                                    <td>#}
                    {#                                        <p class="fw-bold">{{ result.attempts }}</p>#}
                    {#                                    </td>#}
                    {#                                    <td>#}
                    {#                                        <span class="badge rounded-pill bg-warning">Completed</span>#}
                    {#                                    </td>#}
                    {#                                </tr>#}
                    {#                            {% endfor %}#}
                    {##}
                    {#                            </tbody>#}
                    {#                        </table>#}
                    {#                    </div>#}
                </div>
            {% endif %}

        </div>
        {% include 'dashboard/include/__sidebar.html' %}
    </div>
{% endblock %}

{% block include_js %}
    <script>
        const url = '{% url 'quiz:statistics_user' %}'
        var options = {
            method: 'GET',
            mode: 'same-origin',
            headers: {
                "Content-Type": "application/json",

            }
        }
        fetch(url, options)
            .then(response => response.json())
            .then(data => {
                new Chart(document.querySelector('#barChart'), {
                    type: 'bar',
                    data: {
                        labels: data.labels,
                        datasets: [{
                            label: "O'zlashtirish",
                            data: data.data,
                            backgroundColor: [
                                'rgba(255, 99, 132,1)',
                                'rgba(255, 159, 64, 1)',
                                'rgba(255, 205, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(201, 203, 207, 1)'
                            ],

                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });

            })

    </script>
{% endblock %}


