{% extends 'user/base.html' %}
{% load static %}
{% load mptt_tags %}

{% block title %}
    Categories
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'user/dash/css/style.css' %}">
{% endblock %}

{% block content %}
    <div class="wrapper-dashboard bg-light">
        <div class="main-dashboard">
            <div class="top__main-dashboard ">
                <div class="profile-group__main-dashboard rounded-3">
                    <img
                            class="rounded-circle border border-4"
                            src="{{ photo }}"
                            alt="profile"
                            width="130"
                            height="130"
                    />
                    {#                    <h5 class="title__profile-group fw-bold mb-0 mt-1">Ali Barin</h5>#}
                    <p class="text__profile-group text-secondary p-2"
                       style="text-align: center">{{ organization.name }}</p>
                    <p class="text__profile-group text-secondary " style="text-align: center">{{ staff_full }}</p>
                </div>
                <div class="search-group__main-dashboard rounded-3">
                    <h3 class="text-light fw-bolder">{{ fullname }}</h3>
                    <div class="form-group search-content">
              <span class="google-icon__search-content">

              </span>
                        <input
                                type="text"
                                class="form-control bg-white bg-opacity-75 rounded-5"
                                placeholder="Поиск"
                        />
                        <div class="search-icon__search-content">
                            <img
                                    src="{% static 'assets/img/search-icon.png' %}"
                                    alt="search icon"
                                    width="30"
                            />
                        </div>
                    </div>
                </div>
            </div>
            <div class="middle__main-dashboard">
                <h3 class="title-dashboard">{{ cat }}</h3>
                <hr>
                <div class="content__middle-dashboard">
                    <div class="links-group__main-dashboard">
                        {% for object in object_list %}
                            {% if object.quizs and not object.quizs__module %}
                                <a href="{% url 'quiz:user_quiz_detail' object.quizs %}"
                                   class="link-card__main-dashboard rounded-3">
                                    <span class="badge rounded-pill bg-success align-self-end">test</span>

                                    {% if object.icon %}
                                        <img width="70" src="{% get_media_prefix %}{{ object.icon }}"
                                             alt="{{ object.icon }}"/>
                                    {% else %}
                                        <img width="70" src="{% static 'user/dash/img/file.png' %}" alt="icon"/>

                                    {% endif %}
                                    <p class="text-secondary">{{ object.name }}</p>
                                </a>
                            {% elif object.children %}
                                <a href="{% url 'quiz:quiz_cat' object.slug %}"
                                   class="link-card__main-dashboard rounded-3">

                                    {% if object.icon %}
                                        <img width="70" src="{% get_media_prefix %}{{ object.icon }}"
                                             alt="{{ object.icon }}"/>
                                    {% else %}
                                        <img width="70" src="{% static 'user/dash/img/file.png' %}" alt="icon"/>

                                    {% endif %}

                                    <p class="text-secondary">{{ object.name }}</p>
                                </a>
                            {% else %}
                                <a class="link-card__main-dashboard rounded-3">

                                    {% if object.icon %}
                                        <img width="70" src="{% get_media_prefix %}{{ object.icon }}"
                                             alt="{{ object.icon }}"/>
                                    {% else %}
                                        <img width="70" src="{% static 'user/dash/img/file.png' %}" alt="icon"/>

                                    {% endif %}

                                    <p class="text-secondary">{{ object.name }}</p>
                                </a>
                            {% endif %}

                        {% endfor %}

                        {#                        {% recursetree object_list %}#}
                        {#                            {% if not node.is_child_node %}#}
                        {##}
                        {#                                <a href="{% url 'quiz:quiz_cat' node.slug %}"#}
                        {#                                   class="link-card__main-dashboard rounded-3">#}
                        {#                                    {% if node.icon %}#}
                        {#                                        <img width="70" src="{{ node.icon.url }}" alt="icon"/>#}
                        {#                                    {% else %}#}
                        {#                                        <img width="70" src="{% static 'user/dash/img/file.png' %}" alt="icon"/>#}
                        {#                                    {% endif %}#}
                        {#                                    <p class="text-secondary">{{ node }}</p>#}
                        {#                                </a>#}
                        {#                            {% else %}#}
                        {#                                {% with node.quizs.first as quiz %}#}
                        {#                                    {% if quiz and not quiz.module %}#}
                        {#                                        <a href="{% url 'quiz:user_quiz_detail' quiz.pk %}"#}
                        {#                                           class="link-card__main-dashboard rounded-3 position-relative">#}
                        {#                                            <span class="badge rounded-pill bg-success align-self-end">test</span>#}
                        {##}
                        {##}
                        {##}
                        {#                                            {% if node.icon %}#}
                        {#                                                <img width="70" src="{{ node.icon.url }}" alt="icon"/>#}
                        {#                                            {% else %}#}
                        {#                                                <img width="70" src="{% static 'user/dash/img/file.png' %}"#}
                        {#                                                     alt="icon"/>#}
                        {#                                            {% endif %}#}
                        {#                                            <p class="text-secondary">{{ node }}</p>#}
                        {##}
                        {##}
                        {#                                        </a>#}
                        {##}
                        {#                                    {% else %}#}
                        {#                                        <div class="link-card__main-dashboard rounded-3">#}
                        {#                                            {% if node.icon %}#}
                        {#                                                <img width="70" src="{{ node.icon.url }}" alt="icon"/>#}
                        {#                                            {% else %}#}
                        {#                                                <img width="70" src="{% static 'user/dash/img/file.png' %}"#}
                        {#                                                     alt="icon"/>#}
                        {##}
                        {#                                            {% endif %}#}
                        {#                                            <p class="text-secondary">{{ node }}</p>#}
                        {#                                        </div>#}
                        {#                                    {% endif %}#}
                        {#                                {% endwith %}#}
                        {#                            {% endif %}#}
                        {#                        {% endrecursetree %}#}
                    </div>

                </div>
            </div>
        </div>
        {% include 'dashboard/include/__sidebar.html' %}
    </div>
{% endblock %}

{% block include_js %}
    <script>
        const url = '{% url 'quiz:statistics_user' %}'
        var options = {
            method: 'GET',
            mode: 'same-origin',
            headers: {
                "Content-Type": "application/json",

            }
        }
        fetch(url, options)
            .then(response => response.json())
            .then(data => {
                new Chart(document.querySelector('#barChart'), {
                    type: 'bar',
                    data: {
                        labels: data.labels,
                        datasets: [{
                            label: "O'zlashtirish",
                            data: data.data,
                            backgroundColor: [
                                'rgba(255, 99, 132,1)',
                                'rgba(255, 159, 64, 1)',
                                'rgba(255, 205, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(201, 203, 207, 1)'
                            ],

                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });

            })

    </script>
{% endblock %}