{% load static %}
{% load crispy_forms_tags %}

<div class="alert  alert-dismissible fade show" role="alert">
    <h1>{{ model_name|capfirst }}</h1>
    <form action="{% url 'course:module_content_create' modul_id model_name %}" method="post"
          enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {{ form|crispy }}

        <button class="btn btn-outline-success float-end mb-5"><i class="bi bi-download"></i> save</button>

    </form>

    {% comment %} <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> {% endcomment %}


    {% comment %} <div class="progress" role="progressbar" aria-label="Success striped example"aria-valuemin="0" aria-valuemax="100">
        <div id="progress_bootstrapt" class="progress-bar progress-bar-striped bg-success"></div>
    </div> {% endcomment %}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

