<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="{% url 'quiz:manage_dashboard' %}">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#quiz-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-text"></i><span>Test</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="quiz-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{% url 'quiz:quiz_list' %}">
                        <i class="bi bi-circle"></i><span>Testlar</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'quiz:quiz_create_view' %}">
                        <i class="bi bi-circle"></i><span>Test Yaratish</span>
                    </a>
                </li>


            </ul>
        </li><!-- End Forms Nav -->


        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#course-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-text"></i><span>Course</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="course-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{% url 'course:course_list' %}">
                        <i class="bi bi-circle"></i><span>Kurslar</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'course:course_create' %}">
                        <i class="bi bi-circle"></i><span>Kurs Yaratish</span>
                    </a>
                </li>


            </ul>
        </li><!-- End Forms Nav -->


        <li class="nav-item">
            <a class="nav-link collapsed" href="users-profile.html">
                <i class="bi bi-person"></i>
                <span>Profile</span>
            </a>
        </li><!-- End Profile Page Nav -->


    </ul>

</aside><!-- End Sidebar-->